{% extends "yogicoder/base.html" %}

{% block title %} YogiCoder Courses {% endblock %}

{%  block content %}
<div class="container">
<div class="row">
      <div class="col-md-8">
    <h1><i class="fas fa-yin-yang"></i> Meet the Yogi Coder Herself </h1>

    {% load static %}

<img style='border:1px solid #000000; width:300px;height:300px;' src="{% static "yogicoder/images/me.jpg" %}"   class="img-thumbnail"  alt="icon">
      </div>
</div>
<div class="row">

     <p class="lead">It took me until my late 40s to understand what my passion is. That's ok with me,
     so many people are on auto-pilot and arrived at career choices in funny ways through
     a host of motivations.</p>
    <p><mark>I love to Code</mark>. It really doesn't matter to me that I only woke up fully
        to this realization in the past few years. The most import thing is that I <strong><i>did</i></strong> wake up.
    And now that I am awake... Oh boy, I am on fire. I love to build. I love to create and I love to learn.
        I guess I have landed in the right place, because coding addresses all of those passions and more.
        Coding challenges me every day. I love that. Sometimes when I am in the middle of it, I don't remember that I love it.
        But I do love a good challenge. There is no end to that with coding right?
        <p>
    <mark>So what is this site all about?</mark> There are so many brilliant coders, self-taught and otherwise.
        They are so darn smart that they sometimes take for granted that those of us who may not be on their level,
    don't know what they deem the <i>simple</i> or <i>intuitive stuff.</i>
        I don't blame them, we each work at our own pace.  But as for me, I need to break things down, experiment, stretch and test the limits and then go through
        that whole process again... and maybe even a third time.  Then I can make it mine.
        That is what I am doing with the courses on this site. I call them the "inch by inch" series, becuase I will break it
        down for us into the smallest digestable chunks.  I am finding that I am learning so much as I am doing this.
        I hope it helps you too. If you are anything like me and really want to understand why things work as they do and the finer details that go along with it, then this courseware
        was created for you (and me.)
        I really hope it helps.  If you think of ways I can make this better, just be in touch and let me know.
    OK now... onward and upward and happy and healthly and peaceful CODING!</p>

    </p>
    <hr>


</div>
</div>
</div>
{% endblock %}
